<div id="faq"> 

    <header class="w3-container" id="faqhead">
        <h1>FAQs - Häufig gestellte und ausgedachte Fragen</h1>
    </header>


    <ul class="w3-margin-top w3-margin-bottom w3-ul">
        <li>
            <a href="/faq#watt">Was ist DeinWal.de?</a>
        </li>
        <li>
            <a href="/faq#name">Wie kommt ihr auf den bescheuerten Namen?</a>
        </li>
        <li>
            <a href="/faq#warum">Warum macht ihr das?</a>
        </li>
        <li>
            <a href="/faq#auswahl">Wie habt ihr die Fragen ausgewählt?</a>
        </li>
        <li>
            <a href="/faq#berechnung">Wie berechnet ihr die Auswertung?</a>
        </li>
        <li>
            <a href="/faq#wenwaehlen">Also soll ich jetzt SPD, CDU, DIE LINKE oder Die Grünen wählen?</a>
        </li>
        <li>
            <a href="/faq#fdpafd">Warum fehlen FDP, AfD, DIE PARTEI und weitere in der Auswertung?</a>
        </li>
        <li>
            <a href="/faq#abstimmungxyz">Warum ist Abstimmung XYZ nicht dabei?</a>
        </li>
        <li>
            <a href="/faq#speicherung">Was wird gespeichert?</a>
        </li>
        <li>
            <a href="/faq#datennutzung">Was macht ihr mit meinen Daten?</a>
        </li>
        <li>
            <a href="/faq#technics">Wie habt ihr das technisch gelöst?</a>
        </li>
        <li>
            <a href="/faq#behind">Wer steckt alles hinter DeinWal.de?</a>
        </li>
        <li>
            <a href="/faq#finance">Wer finanziert das Projekt?</a>
        </li>
        <li>
            <a href="/faq#changelog">Gibt's ein Changelog?</a>
        </li>
    </ul>



    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="watt">
                Was ist DeinWal.de?
                <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
            <strong>Auf DeinWal.de hast du den Wal! (Oder die Wahl?)</strong>
            Dein Wal gibt dir die Möglichkeit deine Einstellung zu verschiedenen Themen mit den Entscheidungen der Parteien im Bundestag zu vergleichen.
            In einem Quiz kannst du die Entscheidungen der Parteien nachspielen
            </p>

            <p>
            Das Quiz besteht aus 42 Fragen in 12 Themengebieten.
            Die Fragen beruhen auf echten Abstimmungen im Bundestag der letzten Legislaturperiode.
            Sie können jeweils mit Ja, Nein, oder Enhalten beantwortet werden &mdash; oder einfach unbeantwortet bleiben.
            </p>

            <p>
            In der Auswertung kannst du dann sehen, welche Partei am häufigsten in deinem Sinne abgestimmt hat.
            Solltest du schon eine Partei favorisieren, kannst du auch gut überprüfen, ob sich deine Präferenz bestätigt und bei welchen Themen eure Meinungen abweichen. 
            </p>
            
            <p>
            Dein Wal achtet dabei besonders auf deine Privatsphäre!
            Nachdem du die Seite einmal geladen hast, wird nichts mehr über das Internet kommuniziert.
            Du kannst das Internet dann quasi aus machen und alles funktioniert reibungslos weiter!
            Das unterscheidet deinen Wal von den meisten anderen Seiten, die deine Daten immer wieder an den Server zurücksenden.
            </p>

        </div>
    </div>



    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="name">
                Wie kommt ihr auf den bescheuerten Namen?
                <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>WahlWal.de war leider schon vergeben und WahlWachtel.de war irgendwie noch bescheuerter.</p>
        </div>
    </div>



    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="warum">
                Warum macht ihr das?
                <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
                Sehr gute Frage.
                Man kann stundenlang über Politik diskutieren, sich dabei gegenseitig beschimpfen und man kommt doch zu keinem gemeinsamen Ergebnis.
                Doch was kann ICH als "normaler Mensch" schon tun, um ein bisschen was zu verbessern?
                In die Politik gehen und meine Seele verkaufen ;)? Aber an welche Partei denn?
                Wir wollten also etwas praktisches umsetzen!<br>
                Die Idee zu deinWal ist schon ein bisschen Älter und entstand beim spielen des Wahl-O-Mats: "Moment mal, alle Parteien sind für dieses Thema? Warum haben einige dann noch vor einem Jahr dagegen gestimmt?".
            </p>
            <p>
                Ausserdem wollten wir uns gerne mal mit Angular beschäftigen.
                Angular ist ein Open-Source "Single Page Web Application Framework" von Google und hilft beim erstellen komplexer Applikationen im Browser.
                Bei anderen Politik-Fragebögen werden private Daten und politische Einstellungen von Millionen von Menschen durch das Internet geschickt, potentiell gespeichert und ausgewertet.
                Die Benutzer können nicht wissen was mit ihren Eingaben passiert.
                Mit Techniken wie Angular lässt sich das einfach beheben:
                Deine Eingaben auf DeinWal.de bleiben ausschliesslich im Browser auf deinem Computer!
            </p>
            <p>
                Bei unseren Recherchen für deinen Wal haben wir selber eine ganze Menge gelernt.
                Dieses Wissen möchten wir hier auch gern weiter geben.
                Wir hoffen, dass dein Wal viele Besucher zum kritischen Nachdenken anregt und ein bisschen veranschaulicht, was in den letzten vier Jahren im Bundestag passiert ist.
            </p>
        </div>
    </div>
    
    

    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="auswahl">Wie habt ihr die Fragen ausgewählt? <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
        	<p>
        	Alle Fragen beruhen auf den real stattgefundenen, namentlichen Abstimmungen im Bundestag der letzten Legislaturperiode (2013 - 2017).
            Auf <a href="https://wahlbilanz.de" target="_blank">wahlbilanz.de</a> haben wir die Abstimmungen zusammengetragen, analysiert und kategorisiert.
            Wir haben die verschiedenen <a href="https://wahlbilanz.de/categories/" target="_blank">Kategorien</a> dann bewertet und potentielle Fragen und Themengebiete zusammengetragen.
            In einem aufwendigen und zähen Prozess wurden die Fragen ausgedünnt und formuliert.
            Dabei haben wir stets versucht Formulierungen zu finden, die leicht verständlich sind und euch nicht beeinflussen.
            Das war äussert kompliziert und ist uns vielleicht nicht immer zu 100% geglückt.
            <strong>Wenn du Verbesserungsvorschläge für eine Frage hast, kannst du dich super gern <a routerLink="/impressum">bei uns melden</a>!</strong> 
            </p>
        </div>
    </div>

    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="berechnung">
                Wie berechnet ihr die Auswertung?
                <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
            Über die Mathematik hinter der Auswertung haben wir lange nachgedacht und vieles ausprobiert.
            Die Berechnung soll leicht verständlich sein, damit jeder die Möglichkeit hat die Ergebnisse selbst nachzuvollziehen.
            Unser Modell berechnet Ähnlichkeiten und ist an das
            <a href="http://www.bpb.de/system/files/dokument_pdf/Rechenmodell%20des%20Wahl-O-Mat.pdf" target="_blank">Rechenmodell des Wahl-O-Mats</a> angelehnt.
            Auf der <a routerLink="/quiz/auswertung">Auswertungsseite</a> könnt ihr zwischen einer einfachen und einer komplexen Ansicht wechseln.
            </p>

            <h5>Berechnung der Ähnlichkeit bei einer einzelnen Abstimmung</h5>
            <p>
            Die Prozentangaben in der komplexen Ansicht geben die Ähnlichkeit deiner Entscheidung mit dem Abstimmungsergebnis einer Partei an.
            <code>100%</code>&nbsp;bedeutet dabei, dass die Partei geschlossen genau wie du gestimmt hat. 
            <code>0%</code>&nbsp;bedeutet, dass die Partei komplett anderer Meinung war.
            Die Berechnung der Prozentzahlen dazwischen ist ein bisschen komplizierter, da die Parteien nicht zwingend geschlossen abstimmen.
            Für die Berechnung der Ähnlichkeit einer Partei mit deiner Antwort zählen folgende Werte:
            </p>

            <table class="w3-table w3-border">
                <tr>
                    <th>Deine Stimme</th>
                    <th>Ähnlichkeit zu einer Partei</th>
                </tr>
                <tr>
                    <td class="w3-center w3-green">Ja</td>
                    <td>Anzahl <span class="w3-green w3-padding-small">Ja</span> plus <code>1/2</code>&nbsp;<span class="w3-blue w3-padding-small">Enthalten</span> der Partei</td>
                </tr>
                <tr>
                    <td class="w3-center w3-red">Nein</td>
                    <td>Anzahl <span class="w3-red w3-padding-small">Nein</span> plus <code>1/2</code>&nbsp;<span class="w3-blue w3-padding-small">Enthalten</span> der Partei</td>
                </tr>
                <tr>
                    <td class="w3-center w3-blue">Enthalten</td>
                    <td>Anzahl <span class="w3-blue w3-padding-small">Enthalten</span> plus <code>1/2</code>&nbsp;<span class="w3-green w3-padding-small">Ja</span> plus <code>1/2</code>&nbsp;<span class="w3-red w3-padding-small">Nein</span> der Partei</td>
                </tr>
            </table>

            <p>
            Eine übereinstimmende Antwort eines Abgeordneten mit deiner Antwort hat also volles Gewicht in der Berechnung.
            Enthält sich einer von euch (du oder der Abgeordnete), während der andere mit Ja oder Nein stimmt, zählt die Stimme mit halbem Gewicht.<br>
            Beispiel: Wenn eine Partei mit <code>60%</code>&nbsp;Ja, <code>10%</code>&nbsp;Nein und <code>30%</code>&nbsp;Enthalten abgestimmt hat, ergeben sich folgende Ähnlichkeiten:
            </p>

            <ul>
                <li>
                    <strong>Wenn du Ja stimmst:</strong> <code class="w3-padding-small">60% + 1/2 · 30% = 75%</code>
                </li>
                <li>
                    <strong>Wenn du Nein stimmst:</strong> <code class="w3-padding-small">10% + 1/2 · 30% = 25%</code>
                </li>
                <li>
                    <strong>Wenn du dich enthältst:</strong> <code class="w3-padding-small">30% + 1/2 · 60% + 1/2 · 10% = 65%</code>
                </li>
            </ul>

            <p>
            Diese Berechnung ist damit weitestgehend konform mit dem Rechenmodell des Wahl-O-Mat.
            </p>



            <h5>Übereinstimmungen in der einfachen Ansicht</h5>

            <p>
            Die einfache Auswertungstabelle ist für mobile Geräte optimiert.
            Sie enthält nicht so viele Informationen, sondern listet für jede Abstimmung nur die Parteien auf, die mehrheitlich wie du gestimmt haben.
            Mehrheitlich bedeutet hier mindestens <code>66,66%</code>&nbsp;Ähnlichkeit eurer Antworten nach oben beschriebener Berechnung.
            Das entspricht also etwa einer qualifizierten <code>2/3</code>-Ähnlichkeits-Mehrheit.
            </p>

            <h5>Berechnung der Gesamtergebnisse in den Auswertungstabellen</h5>

            <p>
            Das Gesamtergebnis unter der Tabelle der einfachen Ansicht ist die Summer der mehrheitlichen Übereinstimmungen einer Partei mit deinen Entscheidungen.
            Es zeigt also, wie oft die jeweilige Partei mehrheitlichen in deinem Sinne abgestimmt hat.
            Du kannst es einfach nachprüfen, indem du zählst wie häufig ein Partei-Logo in der Tabelle auftaucht.
            </p>

            <p>
            Das Gesamtergebnis in der komplexen Auswertungstabelle entspricht dem arithmetischen Mittel (Durchschnitt) der Ähnlichkeiten in den einzelnen Abstimmungen.
            Hier geht es nicht mehr um einzelne Abgeordnete.
            Ein Abstimmungsergebnis, bei dem die mehrere Abgeordnete keine Stimme abgegeben haben, wird also nicht benachteiligt.<br>
            Beispiel: Angenommen eine Partei hat bei drei Abstimmungen <code>40%</code>, <code>50%</code> und <code>90%</code> so ähnlich wie du abgestimmt,
            dann ergibt sich ein Gesamtergebnis von <code class="w3-padding-small">(40% + 50% + 90%) / 3 = 60%</code> Ähnlichkeit für die Partei.
            Die ist dann auch die Ähnlichkeit, die wir im Balkendiagram oben auf der Auswertungsseite benutzen.
            </p>

            <h5>Sonstige Besonderheiten</h5>

            <p>
            Eine Frage, die nicht beantwortet wurde, wird in der Berechnung nicht berücksichtigt &mdash; weder positiv noch negativ.
            Wir haben lange überlegt, ob und wie Fragen unterschiedlich gewichtet werden können (so wie bspw. im Wahl-O-Mat), uns schließlich aber dagegen entschieden.
            Die Dokumentation des Rechenmodells ist so schon kompliziert genug... ;-)
            </p>

            <p>
            Falls etwas in der Berechnung unklar sein sollte, könnt ihr euch gern <a routerLink="/impressum">bei uns melden</a>!
            </p>

        </div>
    </div>

    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="wenwaehlen">
                Also soll ich jetzt SPD, CDU, DIE LINKE oder Die Grünen wählen?
                <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
            Das können wir dir leider nicht sagen... :(
            </p>
            <p>
            Was ist denn überhaupt mit der FDP oder der AfD?
            Oder den vielen anderen Parteien?
            Dazu haben wir gar keine Daten!
            </p>
            <p>
            Ausserdem sind die Abstimmungsergebnisse viel komplexer, als es auf den ersten Blick erscheint.
            Zum Beispiel gibt es einen Koalitionsvertrag, an den sich SPD und CDU halten müssen/wollen.
            Wenn die SPD also für den Bundeswehreinsatz in Darfur stimmt, dann muss das nicht unbedingt heißen, dass die SPD den Einsatz grundsätzlich gut findet.
            Vielleicht hatte dieses Thema bei den Koalitionsverhandlungen für die SPD nur weniger Priorität als andere Themen.
            Die Abgeordneten sind dann meist durch die Fraktionsdisziplin dazu angehalten einheitlich abzustimmen.
            Auf <a href="https://wahlbilanz.de/2017/06/ueber-fraktionsdisziplin-und-den-koalitionsvertrag/" target="_blank">wahlbilanz.de gibt es einen interessanten Artikel über Fraktionsdisziplin und den Koalitionsvertrag.</a> 
            </p>
            <p>
            Dein Wal kann und möchte dir also gar keine Empfehlung geben.
            Du hast hier ausschliesslich die Möglichkeit die Entscheidungen der Parteien in der letzten Legislaturperiode mit deinen Einstellungen zu vergleichen.
            <strong>
                Dein Wal sollte auf gar keinen Fall die einzige Quelle sein, die du für deine Entscheidung zur Bundestagswahl nutzt!
            </strong>
            Guck am besten auch mal (zufällige Reihenfolge):
            </p>
            <ul>
                <li *ngFor="let tool of othertools">
                    {{tool.pre}} <a href="{{tool.link}}" target="_blank">{{tool.name}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="fdpafd">
                Warum fehlen FDP, AfD, DIE PARTEI und weitere in der Auswertung?
                <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
            Wir konnten nur Parteien berücksichtigen, die in den 18.&nbsp;Bundestag gewählt wurden. Das sind CDU, CSU, die Grünen, die Linke und SPD.
            Von den anderen Parteien gibt es leider keine Abstimmungsergebnisse mit denen du dich vergleichen könntest.
            Du solltest dich aber trotzdem auf jeden Fall auch über <a href="https://www.bundeswahlleiter.de/info/presse/mitteilungen/bundestagswahl-2017/05_17_parteien_teilnahme.html" target="_blank">die anderen Parteien informieren</a>.
            </p>
        </div>
    </div>


    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="abstimmungxyz">Warum ist Abstimmung XYZ nicht dabei? <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
            Die Auswahl der spezifischen Fragen war sehr aufwendig und hat uns viel Zeit und Energie gekostet.
            Nicht jede namentliche Abstimmung eignet sich für dieses Projekt.
            Wenn eine Partei in einem Antrag bspw. viele verschiedene Forderungen stellt ist es manchmal unmöglich diesen Antrag in eine einfache Frage für DeinWal.de zu übersetzen.
            Wir können aber auch nicht einzelne Aspekte herausziehen, da wir nicht wissen wie die Abgeordneten zu diesem speziellen Aspekt abgestimmt hätten.  
            Insgesamt sollten es natürlich auch nicht zu viele Abstimmungen sein.
            Im Bundestag liefen mehr als 200&nbsp;Abstimmungen &mdash; wenn ihr die alle abarbeiten müsstet säßt ihr hier eine ganze Weile und würdet wahrscheinlich irgendwann frustriert aufgeben.
            Zumal einige Fragen auch viel Hintergrundwissen abverlangen.
            </p>
            <p>
            Wenn du trotzdem der Meinung bist, dass eine bestimmte Abstimmung unbedingt bei deinem Wal auftauchen sollte, kannst du gern versuchen uns davon zu überzeugen!
            Schreib uns eine Mail (siehe <a routerLink="/impressum">Impressum</a>) oder <a href="https://github.com/wahlbilanz/DeinWal.de//issues/new" target="_blank">mach ein Ticket bei GitHub auf</a>.
            Wir werden dir dann erklären warum es die Frage nicht geschafft hat, oder überlegen sie doch noch aufzunehmen :) 
            </p>
        </div>
    </div>

    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="speicherung">Was wird gespeichert? <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
            Das Speichern deiner Daten ist optional und standardmäßig ausgeschaltet.
            Wenn "Speichern" aktiviert ist, bleiben deine Antworten in deinem Browser-Profil erhalten, auch wenn du die Seite neu lädst oder deinen Rechner herunter fährst.
            Du kannst dann also zum Beispiel morgen mit der Bearbeitung des Quizzes fortfahren.
            Wenn du deine Antworten speichern möchtest, musst du den Speichern-Knopf oben im Quiz aktivieren.
            Der Knopf sieht wie folgt aus, wenn
            </p>

            <p>
            <button class="w3-button w3-pale-green w3-hover-green">nicht gespeichert</button>
            <button class="w3-button w3-green w3-hover-pale-green">gespeichert</button>
            </p>

            <p ng-show="updateLocalStorage ()">
            wird. Aktuell werden deine Daten <strong>{{localStorageOn}}</strong>.
            </p>
            <p>
            <strong>Die Daten sind ausschliesslich in deinem Browser-Profil gespeichert.</strong>
            Sie können nicht von anderen Benutzern oder anderen Browsern ausgelesen werden, nur von genau diesem Browser, den du gerade verwendest.
            Dabei benutzen wir eine Technik die sich <em>local storage</em> nennt (siehe <a href="https://de.wikipedia.org/wiki/Web_Storage#localStorage" target="_blank">Wikipedia</a>).
            Die Antworten zu den Fragen verbleiben also zu jeder Zeit auf deinem Computer und werden von uns niemals über das Netz gesendet!
            </p>

            <p>
            Wenn du den Speichern-Knopf wieder aus drückst werden alle gespeicherten Daten sofort gelöscht.
            Du kannst deine Daten auch gleich hier löschen (es gibt für uns dann keine Möglichkeit deine Antworten wieder herzustellen).
            </p>

            <p>
            <button class="w3-button w3-red" (click)="clearData()">Daten löschen</button>
            </p>
        </div>
    </div>

    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="datennutzung">Was macht ihr mit meinen Daten? <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>Das ist ja das coole: <strong>Wir haben fast keine Daten von dir!</strong></p>

            <p>
            Deine Antworten sind ausschliesslich in deinem Browser bei dir auf dem Rechner gespeichert und werden von uns niemals über das Internet versendet.
            Dein Computer nimmt nur einmal kurz mit unserem Server Kontakt auf, um die Webseite zu laden.
            Danach läuft alles nur noch bei dir auf deinem Computer.
            Du kannst jetzt also gern dein Internet ausschalten &mdash; das Quiz läuft normal weiter, ganz ohne irgendeine Netzwerkverbindung! :)
            </p>

            <p>
            Das Einzige, was wir sehen, ist das jemand zu einer bestimmten Zeit unsere Webseite heruntergeladen hat.
            Das ist ganz normal im Internet und lässt sich leider nicht vermeiden.
            Aber wir versprechen auch mit den wenigen Daten vertraulich umzugehen!
            </p>
        </div>
    </div>

    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="technics">Wie habt ihr das technisch gelöst? <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
            Die komplette Webseite ist mit <a href="https://angular.io/" target="_blank">Angular</a> entwickelt.
            Angular ist ein Typescript-Framework mit dem sich clientseitige Web-Applikationen sowohl für den Desktop als auch für mobile Geräte entwickeln lassen.
            Das Layout haben wir mit dem <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">W3.CSS Framework</a> gestaltet.
            Das Webprojekt kompiliert zu statischem Javascript-HTML-CSS-Brei, den wir dann einfach mit einem <a href="https://nginx.org/" target="_blank">nginx</a> Webserver mittels <a href="https://www.docker.com/" target="_blank">Docker</a> Container ausliefern.
            </p>

            <p>
            <strong>Die Webseite ist übrigens Open Source:</strong>
            Auf <a href="https://github.com/wahlbilanz/DeinWal.de" target="_blank">github.com/wahlbilanz/DeinWal.de</a> könnt ihr die Webseite angucken, forken, Verbesserungsvorschläge einreichen und mitmachen!
            </p>
        </div>
    </div>

    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="behind">
                Wer steckt alles hinter DeinWal.de?
                <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
            Das initiale Team hinter DeinWal.de bestand aus genau 2 Personen: <a href="https://binfalse.de" target="_blank">Martin</a> und <a href="https://github.com/tomthe" target="_blank">Tom</a>.
            </p>
            <p>
            <strong>Wir sind unabhängig, gehören keiner Partei an und haben (bisher) keinen Cent für das Projekt bekommen.</strong>
            Unsere Motivation ist einfach politisches Interesse.
            Wir wollten mehr über Bundestag und das System in Deutschland lernen.
            Das ist uns auch ganz gut gelungen.
            Nun wollen wir das Wissen weitergeben und aufklären :) 
            </p>
            <p>
            Mittlerweile haben aber vielleicht schon viele andere Leute mitgewirkt.
            Wir versuchen alle im <a routerLink="/impressum">Impressum</a> zu nennen.
            Im Projekt <a href="https://github.com/wahlbilanz/DeinWal.de" target="_blank">wahlbilanz/DeinWal.de auf GitHub</a> könnt ihr auch sehen <a href="https://github.com/wahlbilanz/DeinWal.de/graphs/contributors" target="_blank">wer Code beigetragen hat</a>.
            </p>
        </div>
    </div>

    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="finance">
                Wer finanziert das Projekt?
                <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
            DeinWal.de wird (bisher) ausschliesslich von uns privat finanziert.
            Martin hat die Domain gekauft und stellt den Webserver zur Verfügung.
            Brainstormen, Hacken, Schreiben, Formulieren, Layouten, Bewerben etc. in den letzten 9&nbsp;Monate haben wir alles in unserer Freizeit gemacht.  
            </p>
        </div>

    </div>

    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
        <header class="w3-container w3-light-gray">
            <h4 id="changelog">
                Gibt's ein Changelog?
                <small class="w3-margin-left"><a title="nach oben" href="/faq#faqhead"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></small></h4>
        </header>
        <div class="w3-container">
            <p>
                Ja, genau hier! Und zwar seit dem 29. August 2017 :)<br>
                Wir versuchen alles, was über Rechtschreibkorrekturen hinausgeht zu dokumentieren:
            </p>
            <dl>

                <dt>29. August 2017</dt>
                <dd>Zusätliche Informationen zur sachgrundlosen Befristung und Kooperationen in Sachen Kernenergie. Commit <a href="https://github.com/wahlbilanz/DeinWal.de/pull/38/commits/0cfa6fb2122df69f53eed64f45a3203f57ebba78#diff-665c5aa9d732877d60621321b95debab" target="_blank">0cfa6fb</a></dd>

                <dt>29. August 2017</dt>
                <dd>Changelog eingebaut. Commit <a href="https://github.com/wahlbilanz/DeinWal.de/commit/934ddf39aaad6568903d32c54801142ecb2d692a" target="_blank">934ddf3</a></dd>

                <dt>29. August 2017</dt>
                <dd>Die Fragen zu CETA und befristeten Arbeitsverträgen nach dem Feedback in der FAZ angepasst. Commits <a href="https://github.com/wahlbilanz/DeinWal.de/commit/b2ba4d1f2f5b39ebe15247f40d1dcb1d5d138fe7" target="_blank">b2ba4d1</a> und <a href="https://github.com/wahlbilanz/DeinWal.de/commit/c2d5c6a406d07b1c654e0f0c6710acfed54346a2" target="_blank">c2d5c6a</a></dd>

                <dt>29. August 2017</dt>
                <dd>Layout grundlegend verbessert! Vielen Dank an <a href="http://alexandrakandler.de/" target="_blank">Alexandra Kandler</a> und <a href="http://subphisticated.com/" target="_blank">fa;-b</a> für die Hilfe! Siehe beispielsweise <a href="https://github.com/wahlbilanz/DeinWal.de/pull/28" target="_blank">PR #28</a></dd>

                <dt>29. August 2017</dt>
                <dd>Einen Eintrag zum "Warum" in der FAQ eingefügt. Commit <a href="https://github.com/wahlbilanz/DeinWal.de/commit/5aad7716f84b94e43912519e9c192b859486208e" target="_blank">5aad771</a></dd>

                <dt>22. August 2017</dt>
                <dd>Reihenfolge der Links zu anderen Tools wird jetzt gewürfelt. Commit <a href="https://github.com/wahlbilanz/DeinWal.de/commit/ea3e9d1cb7c0556e0c5fa87bdbf049add1d50854" target="_blank">ea3e9d1</a></dd>

            </dl>
        </div>

    </div>
