 <div class="w3-container padding"> 
  
  <header class="w3-container">
    <h1>FAQs - Häufig gestellte und ausgedachte Fragen</h1>
  </header>
  
  <div class="w3-card-4 w3-margin">
    <header class="w3-container w3-light-gray">
      <h3>Wie kommt ihr auf den bescheuerten Namen?</h3>
    </header>
    <div class="w3-container">
      <p>WahlWachtel.de war irgendwie noch bescheuerter.</p>
    </div>
  </div>

  <div class="w3-card-4 w3-margin">
    <header class="w3-container w3-light-gray">
      <h3>Habt ihr nix besseres zu tun?</h3>
    </header>
    <div class="w3-container">
      <p>Ja doch, eigentlich schon. Aber wer rettet sonst die Demokratie??!</p>
    </div>
  </div>

  <div class="w3-card-4 w3-margin">
    <header class="w3-container w3-light-gray">
      <h3>Warum erscheint die AfD nicht in den Empfehlungen für Parteien?</h3>
    </header>
    <div class="w3-container">
      <p>Die AfD wurde bisher nicht in den Bundestag gewählt und daher haben wir auch keine Daten auf der wir eine Wahlempmfehlung aussprechen könnten.</p>
    </div>
  </div>

  <div class="w3-card-4 w3-margin">
    <header class="w3-container w3-light-gray">
      <h3>Warum erscheint die FDP nicht in den Empfehlungen für Parteien?</h3>
    </header>
    <div class="w3-container">
      <p>Die FDP wurde nicht in den 17. Bundestag gewählt und daher haben wir auch keine Daten auf der wir eine Wahlempmfehlung aussprechen könnten.</p>
    </div>
  </div>

 </div>