.question-description {
	
}
/*.q-question {
	font-weight: bold;
}
.q-buttons {
	float: right;
}
.q-text {
	float: left;
}*/

.myQuestions,
.myResult {
	max-width: 900px;
	margin: 5px auto;
	margin-bottom: 20px;
}
.question-tags {
	margin: 10px 0px;
}
.question-tag {
	padding-left: 5px;
}
.question-tag:before {
	content: '#';
}
th small {
	font-weight: normal;
}
