
<h2 class="w3-center">Abstimmungen</h2>

<div class="myQuestions w3-card-4 w3-dark-grey w3-padding-16 w3-animate-zoom" *ngIf="!resultsVisible">
    <div class="w3-container">
        <div class="question-tags">
        	<span class="question-tag" *ngFor="let t of question.topic"><a href="https://wahlbilanz.de/categories/#{{t}}">{{t}}</a></span>
        </div>
	    <div style="clear:both"></div>
        <header class="w3-container w3-light-grey">
            <h3>{{question.titel}}</h3>
        </header>
        <div class="question-description"> 
            {{question.beschreibung}}    
        </div>
        <div class="q-actual" id="question-{{q}}" *ngFor="let q of actualQuestions">
        	<div class="q-text">
	        	<span class="q-context">{{question.fragen[q].context}}</span>
	        	<span class="q-question">{{question.fragen[q].frage}}</span>
	        	<div class="q-supplemental">{{question.fragen[q].subtext}} <a href="{{question.fragen[q].link}}">Mehr Informationen</a></div>
        	</div>
        	<div class="q-buttons">
		        <button class="w3-button w3-hover-green w3-ripple active w3-large" [class.w3-pale-green]="answers[q]!=1" [class.w3-green]="answers[q]==1" (click)="choose(q,1)">Zustimmen</button>
		        <button class="w3-button w3-hover-red w3-ripple w3-large" [class.w3-pale-red]="answers[q]!=2" [class.w3-red]="answers[q]==2" (click)="choose(q,2)">Ablehnen</button>
		        <button class="w3-button w3-hover-blue w3-ripple w3-large" [class.w3-pale-blue]="answers[q]!=0" [class.w3-blue]="answers[q]==0" (click)="choose(q,0)">Egal</button>
	        </div>
	        <div style="clear:both"></div>
        </div>
	    <button class="w3-button w3-grey w3-hover-light-gray w3-left w3-ripple w3-large" (click)="nextQuestion(-1)" *ngIf="questionIndex > 0">vorherige Frage</button>
	    <button class="w3-button w3-grey w3-hover-light-gray w3-right w3-ripple w3-large" (click)="nextQuestion(1)" *ngIf="questionIndex < questionData.length - 1">nächste Frage</button>
	    <button class="w3-button w3-grey w3-hover-light-gray w3-right w3-ripple w3-large" (click)="nextQuestion(1)" *ngIf="questionIndex >= questionData.length - 1">Auswertung</button>
     </div>
</div>

<div class="w3-light-grey">
  <div class="w3-container w3-green w3-center" [style.width.%]="progress">{{progress | number:'1.1-1'}}%</div>
</div>

<div class="myResult w3-card-4 w3-light-grey w3-padding-16 w3-animate-bottom" *ngIf="resultsVisible">
    <div class="w3-container">
        <header class="w3-container w3-green">
            <h3>Auswertung </h3>
        </header>
        <h4>Welche Partei hat am ähnlichsten wie du abgestimmt?</h4>
        <p> 
            Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo d
        </p>
        {{answers | json}}
    </div>
</div>