.question-description {
	
}
/*.q-question {
	font-weight: bold;
}
.q-buttons {
	float: right;
}
.q-text {
	float: left;
}*/

.myQuestions,
.myResult {
	max-width: 900px;
	margin: 5px auto;
	margin-bottom: 20px;
}
.question-tags {
	margin: 10px 0px;
}
.question-tag {
	padding-left: 5px;
}
.question-tag:before {
	content: '#';
}
th small {
	font-weight: normal;
}
#complextable {
	/*display: none;*/
}

@media screen and (max-width: 680px) {
    .optional-margin {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 590px) {
    .optional-padding{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media screen and (max-width: 570px) {
    #tableswitcher{
    	display: none;
    }
}
@media screen and (min-width: 570px) {
	#notableswitcher {
    	display: none;
    }
}
/*.partyDetailsBar {
	min-width
}*/
.partyDetailsTable {
	width: 100%;
}
.partyDetailsImage {
	width: 70px;
}

.stackedbar {
    height: 10px;
    width: 100%;
    margin: 5px 0;
    padding: 0;
}


.stackedbarbar {
	height: 10px;
	float: left;
}

#party-bar-chart {
	width: 100%;
	display: inline-block;
}
.veritcal-bar {
	height: 300px;
	position: relative;
	float: left;
}

.veritcal-bar-progress {
	color: #fff;
	width:100%;
	position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
}


.diegruenen {
	background-color: #19a329;
}
.cducsu {
	background-color: #000;
}
.spd {
	background-color: #ff481f;
}
.dielinke {
	background-color: #e0001a;
}
.unknown {
	background-color: #6d6d6d;
}





