<div class="w3-card">
	<div #pieDiv id="{{id}}" class="pie w3-left"></div>
	<div id="{{id}}-legend" class="pie-legend w3-small">
		<div class="stackedbar">
			<div class="stackedbarbar w3-green" [style.width.%]="resultsPercent.ja * 100" style="margin:0;padding:0;top:0;bottom:0"></div>
			<div class="stackedbarbar w3-red" [style.width.%]="resultsPercent.nein * 100" style="margin:0;padding:0;top:0;bottom:0"></div>
			<div class="stackedbarbar w3-blue" [style.width.%]="resultsPercent.enthaltung * 100" style="margin:0;padding:0;top:0;bottom:0"></div><br>
		</div>
		<div>Ja: {{results.ja}} &mdash; Nein: {{results.nein}} &mdash; Enthaltung: {{results.enthaltung}}</div>
		<div>Score: {{score}}</div> 
	</div>
</div>
    
