<div class="w3-card w3-blue">
  <!--
<p>
  json: {{results | json}}
</p>-->
  <table class="w3-table">
    <tr>
      <td>Ja:</td>
      <td>{{results.ja}}</td>
      <td>{{resultsPercent.ja | percent:'1.1-1'}}</td>
    </tr>

    <tr class="w3-light-grey w3-tiny">
      <td class="w3-green" style="width: 55%">
      </td>
    </tr>
    <tr>
      <td>Nein:</td>
      <td>{{results.nein}}</td>
      <td>{{resultsPercent.nein | percent:'1.1-1'}}</td>
    </tr>
    <tr class="w3-light-grey w3-tiny">
      <td class="w3-red" style="width: 20%">
      </td>
    </tr>
    <tr>
      <td>Enthaltungen:</td>
      <td>{{results.enthaltung}}</td>
      <td>{{resultsPercent.enthaltung | percent:'1.1-1'}}</td>
    </tr>
    <tr class="w3-light-grey w3-tiny">
      <td class="w3-dark-grey" style="width: 5%">
      </td>
    </tr>
  </table>
</div>
    