<div class="w3-card w3-blue">

  <table class="w3-table">
    <tr>
      <td>Ja:</td>
      <td>{{results.ja}}</td>
      <td>{{resultsPercent.ja | percent:'1.1-1'}}</td>
    </tr>

    <tr class="w3-light-grey w3-tiny">
      <td colspan="3"><div class="w3-green" [style.width.%]="resultsPercent.ja * 100" style="margin:0;padding:0;top:0;bottom:0">sd</div></td>
    </tr>
    <tr>
      <td>Nein:<div class="w3-red" style="position:absolute;width:77%;z-index:-1;background-color: #8ef;">a</div></td>
      <td>{{results.nein}}</td>
      <td>{{resultsPercent.nein | percent:'1.1-1'}}</td>
    </tr>
    <tr class="w3-light-grey w3-tiny">
      <td colspan="3"><div class="w3-red" [style.width.%]="resultsPercent.nein * 100" style="margin:0;padding:0;top:0;bottom:0">sd</div></td>
    </tr>
    <tr>
      <td>Enthaltungen:</td>
      <td>{{results.enthaltung}}</td>
      <td>{{resultsPercent.enthaltung | percent:'1.1-1'}}</td>
    </tr>
    <tr class="w3-light-grey w3-tiny">
      <td colspan="3"><div class="w3-grey" [style.width.%]="resultsPercent.enthaltung * 100" style="margin:0;padding:0;top:0;bottom:0">sd</div></td>
    </tr>
  </table>
</div>
    