
@media screen and (max-width: 410px) {
	#menu-zum {
		display: none;	
	}
}
@media screen and (max-width: 370px) {
	.w3-bar-item {
		padding: 8px !important;
	}
}
.disappear {
	color: white;
	font-size: 1px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	
}
.disappear img {
	width: 1px;
	height: 1px;
	opacity: 0.1;
}