 <div class="w3-bar w3-dark-grey">
  <a routerLink="/home" class="w3-bar-item w3-button"><img src="/assets/wal-thumb.png" id="top-icon"> DeinWal.de</a>
  <a routerLink="/quiz/{{questionIndex}}" class="w3-bar-item w3-button menu"><span id='menu-zum'>zum </span>Quiz</a>
  <a routerLink="/faq" class="w3-bar-item w3-button menu">FAQs</a>
  <a routerLink="/impressum" class="w3-bar-item w3-button menu">Impressum</a>
</div> 
<router-outlet></router-outlet>
<span id="preloader" class="disappear">
	<i class="fa fa-bluetooth" aria-hidden="true"></i>
	<img src="/assets/partei-logos/diegruenen.png" alt="Bündnis 90/Die Grünen" title="Bündnis 90/Die Grünen">
	<img src="/assets/partei-logos/dielinke.png" alt="Die Linke" title="Die Linke">
	<img src="/assets/partei-logos/cducsu.png" alt="CDU/CSU" title="CDU/CSU">
	<img src="/assets/partei-logos/spd.png" alt="SPD" title="SPD">
	<img src="/assets/partei-logos/unknown.png" alt="Unbekannte Partei" title="Unbekannte Partei">
</span>
