 <div class="w3-bar w3-dark-grey">
  <a routerLink="/home" class="w3-bar-item w3-button"><img src="/assets/wal-thumb.png" id="top-icon"> DeinWal.de</a>
  <ng-container *ngIf="currentQuiz">
    <a routerLink="/{{currentQuiz}}/{{questionIndex[currentQuiz]}}" class="w3-bar-item w3-button menu"><span id='menu-zum'>zum </span>Quiz</a>
  </ng-container>
  <a routerLink="/faq" class="w3-bar-item w3-button menu">FAQs</a>
  <a routerLink="/impressum" class="w3-bar-item w3-button menu">Impressum</a>
</div> 
<router-outlet></router-outlet>
<ng-container *ngIf="includePartyPics">
<span id="preloader" class="disappear">
	<i class="fa fa-bluetooth" aria-hidden="true"></i>
	<img src="/assets/partei-logos/diegruenen.png" alt="Bündnis 90/Die Grünen" title="Bündnis 90/Die Grünen">
	<img src="/assets/partei-logos/dielinke.png" alt="Die Linke" title="Die Linke">
	<img src="/assets/partei-logos/cducsu.png" alt="CDU/CSU" title="CDU/CSU">
	<img src="/assets/partei-logos/spd.png" alt="SPD" title="SPD">
	<img src="/assets/partei-logos/alfa.png" alt="ALFA" title="ALFA">
	<img src="/assets/partei-logos/diepartei.png" alt="Die PARTEI" title="Die PARTEI">
	<img src="/assets/partei-logos/blaue.png" alt="Die Blauen" title="Die Blauen">
	<img src="/assets/partei-logos/afd.png" alt="AfD" title="AfD">
	<img src="/assets/partei-logos/piraten.png" alt="Piratenpartei" title="Piratenpartei">
	<img src="/assets/partei-logos/npd.png" alt="NPD" title="NPD">
	<img src="/assets/partei-logos/freiewaehler.png" alt="Freie Wähler" title="Freie Wähler">
	<img src="/assets/partei-logos/oedp.png" alt="ÖDP" title="ÖDP">
	<img src="/assets/partei-logos/fdp.png" alt="FDP" title="FDP">
	<img src="/assets/partei-logos/buendnisc.png" alt="Bündnis C" title="Bündnis C">
	<img src="/assets/partei-logos/unknown.png" alt="Unbekannte Partei" title="Unbekannte Partei">
</span>
</ng-container>
