

<div class="w3-container w3-card-4 w3-padding-16 w3-margin-top optional-padding w3-animate-zoom" id="impressum">

<h1 class="w3-center">Impressum</h1>

	<div class="w3-padding w3-light-grey w3-padding-16 w3-margin w3-border optional-margin">
		<h2>Wer sind wir?</h2>
		
		<p>
			Das Projekt DeinWal.de wurde von <a href="https://cv.binfalse.de" target="_blank">Martin Scharm</a> und <a href="https://github.com/tomthe" target="_blank">Tom Theile</a> ins Leben gerufen.
			Martin promoviert am <a href="https://www.sbi.uni-rostock.de/" target="_blank">Lehrstuhl für Systembiologie</a> und arbeitet als Systemingenieur an der <a href="https://www.uni-rostock.de/" target="_blank">Universität Rostock</a>.
			Tom hat Maschienenbau studiert und arbeitet als Entwicklungsingenieur bei <a href="http://ati-kueste.de/" target="_blank">ATI Küste GmbH</a>.
			Das Layout wurde von <a href="http://subphisticated.com/" target="_blank">fa;-b</a> und <a href="http://alexandrakandler.de/" target="_blank">Alexandra Kandler</a> wesentlich verbessert. 
			Generell ist jeder zum Mitmachen eingeladen!
			Die Seite ist <a href="https://github.com/wahlbilanz/DeinWal.de" target="_blank">open source bei GitHub veröffentlicht</a>.
		</p>
		
		<p>Wir möchten uns bei allen Helfern für die vielen Diskussionen und Vorschläge bedanken! Insbesondere bei
		<ng-container *ngFor="let a of ack; let i = index"><span class='acknowledge'><ng-container *ngIf="!a.link">{{a.name}}</ng-container><ng-container *ngIf="a.link"><a href='{{a.link}}' target="_blank">{{a.name}}</a></ng-container><ng-container *ngIf="i < ack.length - 2">, </ng-container><ng-container *ngIf="i == ack.length - 2"> und </ng-container></span></ng-container>.
		</p>
	</div>
	
	<div class="w3-padding w3-light-grey w3-padding-16 w3-margin w3-border optional-margin">
		<h2>Wie kann man uns erreichen?</h2>
		
		<p>
			Am einfachsten per E-Mail: <a href="{{contactlink}}">{{addr}}</a> <br>
			Wir versuchen alle Mails schnellstmöglich abzuarbeiten.
		</p>
		
		<p>
			Aber natürlich auch auf dem Postweg:
		</p>
		
		<div class="w3-padding  w3-margin">
		    Martin Scharm &amp; Tom Theile<br>
		    Warschauer Str. 22<br>
		    18057 Rostock<br>
		</div>
	</div>
	
	
	<div class="w3-padding w3-light-grey w3-padding-16 w3-margin w3-border optional-margin">
		<h2>Haftungsausschluss</h2>
		
		<h4>Haftung für Inhalte</h4>
		
		<p>
			Die kostenlosen und frei zugänglichen Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt.
			Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
			Als Diensteanbieter sind wir gemäß §&nbsp;7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
			Nach §§&nbsp;8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen,
			die auf eine rechtswidrige Tätigkeit hinweisen.
			Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
			Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich.
			Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
		</p>
		
		<h4>Haftung für Links</h4>
		
		<p>
			Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben.
			Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
			Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
			Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft.
			Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
			Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
			Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
		</p>
		
		<h4>Urheberrecht</h4>
		
		<p>
			Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung aller Inhalte ist <em>strengstens gewünscht!</em>
			Downloads und Kopien dieser Seite bitte immer auch wieder weiter geben.
		</p>
		
		<h4>Datenschutz</h4>
		
		<p>
			Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
			Dennoch anfallende Daten werden ohne deine ausdrückliche Zustimmung nicht an Dritte weitergegeben.
		</p>
		
	</div>
</div>
