#home, #archiv {
	max-width: 950px;
	margin: 5px auto;
}
#home-whale, .archivwal {
	max-height: 90%;
	margin: auto;
	padding: 20px;
	
}
#home-whale object, .archivwal object {
	width: 100%;
}
#home-text, .archivetext{
	padding: 20px;
}

@media screen and (max-width: 680px) {
    .optional-margin {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 590px) {
    .optional-padding{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
