<div id="home" class="w3-row">
	<div id="home-whale" class="w3-display-container w3-half">
		<object type="image/svg+xml" data="/assets/wal.svg">
			<img src="/assets/wal.png" alt="DeinWal.de - Du hast den Wal!" />
		</object>
		<h2 class="w3-padding w3-display-bottomleft w3-display-hover">Du hast den Wal!</h2>
	</div>

	<div id="home-text" class="w3-container w3-half w3-card-4 w3-left">
  		<h1>Willkommen zu DeinWal.de!</h1>
  		<p>
  			Hier kannst du Entscheidungen im Bundestag der letzten Legislaturperiode nachspielen,
  			als waerst du bei den Abstimmungen dabei gewesen!
  			Du kannst dann deine Entscheidungen in verschiedenen Themengebieten mit den Entscheidungen der Parteien vergleichen
  			und herausfinden, welche Partei in deinem Sinne abgestimmt hat.
  		</p>
  		<p>
  			<a routerLink="/quiz" class="w3-button w3-indigo w3-hover-blue">Hier gehts zum Quiz</a>
  		</p>
	</div>
</div>