<div class="w3-container w3-card-4 w3-padding-16 w3-margin-top optional-padding w3-animate-zoom" id="home">
        <header class="w3-container w3-light-gray">
  		<h1 class="">Willkommen zu DeinWal.de!</h1>
  		</header>
	<div id="home-whale" class="w3-display-container w3-half">
		<object type="image/svg+xml" data="/assets/wal.svg">
			<img src="/assets/wal.png" alt="DeinWal.de - Du hast den Wal!" />
		</object>
		<h2 class="w3-padding w3-display-bottomleft w3-display-hover">Du hast den Wal!</h2>
	</div>

	<div id="home-text" class="w3-half w3-left">
  		<p>
				Mit deinem Wal kannst du prüfen, welche Partei wie du denkt.
  		</p>
  		<p>
  			Hier kannst du die Abstimmungen im Bundestag der letzten Legislaturperiode nachspielen,
  			als wärst du live dabei gewesen!
  			In der Auswertung siehst du,
  			welche Parteien in deinem Sinne abgestimmt haben.
  		</p>
  		<p>
  			<a routerLink="/bundestagswal2017/{{getQuestionIndex ()}}" class="w3-button w3-indigo w3-hover-blue">Quiz zur Bundestagswahl 2017</a>
  		</p>
  		<p>
			Auch wenn dein Wal dem <a href="https://www.wahl-o-mat.de/" target="_blank">Wahl-O-Mat</a> sehr ähnelt, steckt doch ein ganz anderes Konzept dahinter.
			Hier sagen die Parteien nicht, wie sie zu einem Thema <em>abstimmen würden</em>
			&mdash; hier zählt, wie sie zu einem Thema <em>abgestimmt haben!</em>
			Das unterscheidet deinen Wal übrigens auch von den typischen Wahlprogrammen.
  		</p>
    <p> <i>Update:</i> </p>
    <p>
      Die Bundestagswahl 2017 ist nun schon vorüber.
      Trotzdem könnt ihr das Quiz zur Bundestagswahl 2017 mit den Abstimmungsergebnissen von Abstimmungen zwischen 2013 und 2017 weiterhin spielen.
      Ob es für eine zukünftige Wahlen wieder ein DeinWal.de Quiz geben wird ist noch offen,
      aber aufgrund des enormen positiven Feedbacks haben wir Lust, DeinWal auch in Zukunft weiter zu führen.
    </p>
	</div>
</div>
