<div id="home" class="w3-row">
	<div id="home-whale" class="w3-display-container w3-half">
		<object type="image/svg+xml" data="/assets/wal.svg">
			<img src="/assets/wal.png" alt="DeinWal.de - Du hast den Wal!" />
		</object>
		<h2 class="w3-padding w3-display-bottomleft w3-display-hover">Du hast den Wal!</h2>
	</div>

	<div id="home-text" class="w3-container w3-half w3-card-4 w3-left">
  		<h1>Willkommen zu DeinWal.de!</h1>
  		<p>
				Mit deinem Wal kannst du prüfen, welche Partei wie du denkt.
  		</p>
  		<p>
  			Hier kannst du die Abstimmungen im Bundestag der letzten Legislaturperiode nachspielen,
  			als wärst du live dabei gewesen!
  			In der Auswertung siehst du,
  			welche Parteien in deinem Sinne abgestimmt haben.
  		</p>
  		<p>
  			<a routerLink="/quiz/{{getQuestionIndex ()}}" class="w3-button w3-indigo w3-hover-blue">Hier gehts zum Quiz</a>
  		</p>
  		<p>
			Auch wenn dein Wal dem <a href="https://www.wahl-o-mat.de/">Wahl-O-Mat</a> sehr ähnelt, steckt doch ein ganz anderes Konzept dahinter.
			Hier sagen die Parteien nicht, wie sie zu einem Thema abstimmen <em>würden</em>
			&mdash; hier zählt, wie sie zu einem Thema abgestimmt <em>haben!</em>
			Das unterscheidet deinen Wal übrigens auch von den typischen Wahlprogrammen.
  		</p>
	</div>
</div>
